// Fueled libraries
// --------------------------------------------------------------------------------------------------------------
@import "added/bootstrap-datetimepicker.less";
@import "added/daterangepicker-bs3.less";
@import "added/colorpicker.less";
@import "added/bootstrap-rowlink.less";
@import "added/pricing-tables.less";
@import "added/fuel-ux/fileupload";
@import "added/flex-video.less";
@import "added/fuel-ux/spinner";
@import "added/fuel-ux/checkbox";
@import "added/fuel-ux/radio";
@import "added/fuel-ux/combobox";
@import "added/fuel-ux/select";
@import "added/fuel-ux/pillbox";
@import "added/fuel-ux/tree";
@import "added/fuel-ux/search";
@import "added/fuel-ux/wizard";
@import "added/font-awesome/font-awesome.less";

// Fueled custom
// --------------------------------------------------------------------------------------------------------------
@mainColor: #ff6347;
@mainColor-15: lighten(@mainColor, 15%);
@mainColor-30: lighten(@mainColor, 30%);
@mainColorSofter: lighten(desaturate(@mainColor, 30%), 15%);
@mainColor15: darken(@mainColor, 15%);
@mainColor30: darken(@mainColor, 30%);

// AVAILABLE CLASSES
--------------------
.fueled-text-gray {
  color: @text-color;
}

.fueled-main-color {
  color: @mainColor;
}

// making button styles available in classes
.fueled-btn-solid-shadow {
  .fueled-button-style-mono();
}

.fueled-btn-solid-text-color {
  .fueled-button-style-text-color();
}

.fueled-btn-alternate {
  .fueled-button-alternate();
}

/* There's more, had to add these in the sections below:
.fueled-white                 only used to add a white text color to buttons (see the buttons sections)
.fueled-well-maincolor        alternate well style
*/
// color badges, not really functional
.fueled-color-dark-khaki {
  color: #fff;
  background-color: #bdB76b;
}

.fueled-color-dark-goldenrod {
  color: #fff;
  background-color: #b8860b;
}

.fueled-color-chocolate {
  color: #fff;
  background-color: #d2691e;
}

.fueled-color-tomato {
  color: #fff;
  background-color: #ff6347;
}

.fueled-color-indian-red {
  color: #fff;
  background-color: #cd5c5c;
}

.fueled-color-light-salmon {
  color: #fff;
  background-color: #ffa07a;
}

.fueled-color-yellow-green {
  color: #fff;
  background-color: #9acd32;
}

.fueled-color-burlywood {
  color: #fff;
  background-color: #deb887;
}

.fueled-color-matt-orange {
  color: #fff;
  background-color: #f29238;
}

.fueled-color-matt-green {
  color: #fff;
  background-color: #92b352;
}

.fueled-color-olive-drab {
  color: #fff;
  background-color: #6b8e23;
}

.fueled-color-medium-aquamarine {
  color: #fff;
  background-color: #66cdaa;
}

.fueled-color-light-steel-blue {
  color: #fff;
  background-color: #b0c4de;
}

.fueled-color-sky-blue {
  color: #fff;
  background-color: #87ceeb;
}

.fueled-color-matt-blue {
  color: #fff;
  background-color: #63829a;
}

.fueled-color-dodger-blue {
  color: #fff;
  background-color: #1e90ff;
}

.fueled-color-medium-purple {
  color: #fff;
  background-color: #9370db;
}

.fueled-color-violet {
  color: #fff;
  background-color: #ee82ee;
}

.fueled-color-light-gray {
  color: #fff;
  background-color: @gray-light;
}

.fueled-color-light-slate-gray {
  color: #fff;
  background-color: #778899;
}

.fueled-color-gray {
  color: #fff;
  background-color: @gray;
}

// mixins
.fueled-button-style() {
  position: relative;
  -webkit-box-shadow: 0 1px 0 #fff, 0 2px 0 #E7E7E7, 0 3px 0 #E7E7E7, 0 4px 0 #ccc;
  -moz-box-shadow: 0 1px 0 #fff, 0 2px 0 #E7E7E7, 0 3px 0 #E7E7E7, 0 4px 0 #ccc;
  box-shadow: 0 1px 0 #fff, 0 2px 0 #E7E7E7, 0 3px 0 #E7E7E7, 0 4px 0 #ccc;
}

.fueled-button-style-mono() {
  position: relative;
  -webkit-box-shadow: 0 1px 0 @mainColor15, 0 2px 0 @mainColor15, 0 3px 0 @mainColor15, 0 4px 0 @mainColor15;
  -moz-box-shadow: 0 1px 0 @mainColor15, 0 2px 0 @mainColor15, 0 3px 0 @mainColor15, 0 4px 0 @mainColor15;
  box-shadow: 0 1px 0 @mainColor15, 0 2px 0 @mainColor15, 0 3px 0 @mainColor15, 0 4px 0 @mainColor15;
}

.fueled-button-style-text-color() {
  position: relative;
  -webkit-box-shadow: 0 1px 0 @text-color, 0 2px 0 @text-color, 0 3px 0 @text-color, 0 4px 0 @text-color;
  -moz-box-shadow: 0 1px 0 @text-color, 0 2px 0 @text-color, 0 3px 0 @text-color, 0 4px 0 @text-color;
  box-shadow: 0 1px 0 @text-color, 0 2px 0 @text-color, 0 3px 0 @text-color, 0 4px 0 @text-color;
}

.fueled-button-alternate() {
  position: relative;
  -webkit-box-shadow: 0 1px 0 #ccc, 0 2px 0 #E7E7E7, 0 3px 0 #E7E7E7, 0 4px 0 @text-color;
  -moz-box-shadow: 0 1px 0 #ccc, 0 2px 0 #E7E7E7, 0 3px 0 #E7E7E7, 0 4px 0 @text-color;
  box-shadow: 0 1px 0 #ccc, 0 2px 0 #E7E7E7, 0 3px 0 #E7E7E7, 0 4px 0 @text-color;
}

.fueled-button-style-mousedown() {
  position: relative;
  top: 4px;
}

.fueled-main-color-styling() {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  background-color: @mainColor;
  a:hover,
  a:focus {
    color: @mainColor15;
  }
  a:not(.btn) {
    color: @mainColor30;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .2), 0 0 30px rgba(0, 0, 0, .075);
  }
}

// main color calc to rgba
@fueled-color-rgba: rgba(red(@mainColor), green(@mainColor), blue(@mainColor), .3);

/* -------------------------------------------------------------------------------------------------------------
  variables.less OVERRIDES
------------------------------------------------------------------------------------------------------------- */

// Brand colors
// -------------------------
@brand-primary: @mainColor;
@brand-success: #27cb3a;
@brand-warning: #edaf02;
@brand-danger: #d9534f;
@brand-info: #239ced;

// Scaffolding
// -------------------------
@body-bg: #fcfcfc;
@text-color: #5e6060;

// Links
// -------------------------
@link-color: @mainColor;
@link-hover-color: darken(@link-color, 10%);

// Typography
// -------------------------
@font-family-sans-serif: 'Ropa Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base: 14px;
@line-height-base: 1.61803399;
// 20/14
@headings-font-family: 'Archivo Narrow', sans-serif;
@headings-font-weight: normal;

// Components
// -------------------------

@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;

@border-radius-base: 3px;
@border-radius-large: 5px;
@border-radius-small: 2px;

// Tables
// -------------------------
@table-bg-accent: @mainColor;
// for striping
@table-bg-hover: @mainColor;
@table-border-color: @mainColor15;
// table and cell border

// Buttons
// -------------------------
@btn-default-color: @mainColor30;
@btn-default-bg: @mainColor;
@btn-default-border: @mainColor15;

@btn-primary-bg: @mainColor;
@btn-success-bg: #62c462;
@btn-warning-bg: lighten(#f89406, 15%);
@btn-danger-bg: #ee5f5b;
@btn-info-bg: #5bc0de;

// Forms
// -------------------------
@input-border: @mainColor;
@input-border-focus: @mainColor;
@legend-color: #333;
@legend-border-color: @mainColor;

// Dropdowns
// -------------------------
@dropdown-border: transparent;
@dropdown-header-color: @mainColor15;

// Navbar
// -------------------------
@navbar-height: 52px;
@navbar-default-highlight: #fff;
@navbar-default-bg: #fff;

// Navbar links
@navbar-default-link-hover-color: @mainColor;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: @mainColor15;
@navbar-default-link-active-bg: #fff;
@navbar-default-link-disabled-color: #ccc;
@navbar-default-link-disabled-bg: transparent;

// Inverted navbar
//
// Reset inverted navbar basics
@navbar-inverse-color: #fff;
@navbar-inverse-bg: @mainColor30;
@navbar-inverse-border: darken(@navbar-inverse-bg, 10%);
// Inverted navbar links
@navbar-inverse-link-color: #fff;
@nav-tabs-justified-link-border-color: @mainColor-15;

// Navs
// -------------------------
@nav-link-hover-bg: @mainColor-30;

// Tabs
// -------------------------
@nav-tabs-border-color: @mainColor-15;
@nav-tabs-link-hover-border-color: @mainColor-30;
@nav-tabs-active-link-hover-border-color: @mainColor-15;

// Pagination
// -------------------------
@pagination-border: @mainColor;
@pagination-hover-bg: @mainColor;
@pagination-active-bg: @mainColor;

// Jumbotron
// -------------------------
@jumbotron-padding: 20px;
@jumbotron-color: #fff;
@jumbotron-bg: @mainColor;
@jumbotron-heading-color: #fff;

// Popovers
// -------------------------
@popover-arrow-outer-color: rgba(red(@mainColor), green(@mainColor), blue(@mainColor), 1);
@popover-arrow-outer-fallback-color: #999;

// Pager
// -------------------------
@pager-border-radius: 11px;

// Form states and alerts
// -------------------------
@state-warning-text: #edaf02;
@state-warning-bg: #fcf8e3;

@state-danger-text: #ee5522;
@state-danger-bg: #f2dede;

@state-success-text: #27cb3a;
@state-success-bg: #dff0d8;

@state-info-text: #239ced;
@state-info-bg: #d9edf7;

// List group
// -------------------------
@list-group-border: @mainColor;
@list-group-link-color: @mainColor;
@list-group-link-heading-color: @text-color;

// Panels
// -------------------------
@panel-default-text: #777;
@panel-default-border: transparent;
@panel-default-heading-bg: transparent;

// Wells
// -------------------------
@well-bg: #fff;

// Badges
// -------------------------
@badge-font-weight: normal;

// Carousel
// ------------------------
@carousel-indicator-active-bg: @mainColor;
@carousel-indicator-border-color: @mainColor;

// Breadcrumbs
// -------------------------
@breadcrumb-color: @mainColor15;
@breadcrumb-active-color: @mainColor30;

/* -------------------------------------------------------------------------------------------------------------
  breadcrumbs.less
------------------------------------------------------------------------------------------------------------- */

.breadcrumb {
  padding: 7px 15px 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.5) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.5) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.5) inset;
  > li {
    &+li:before {
      content: "\00BB"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: @breadcrumb-color;
    }
  }
  > .active {
    font-weight: bold;
  }
}

/* -------------------------------------------------------------------------------------------------------------
  button-groups.less
------------------------------------------------------------------------------------------------------------- */

.btn-group {
  > .btn {
    z-index: 2;
    &:hover,
    &:focus,
    &:active,
    &.active {
      //z-index: 0;
    }
  }
  > .dropdown-menu {
    margin-top: 3px;
  }
}

.btn-group.open .dropdown-toggle {
  .fueled-button-style-mousedown();
  .box-shadow(~"none");
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  z-index: 0;
}

.btn-group.open .dropdown-toggle {
  .box-shadow(~"none");
}

.btn-group .dropdown-toggle:active:not(.btn-default),
.btn-group.open .dropdown-toggle:not(.btn-default) {
  text-shadow: 1px 1px 0 @gray;
}

.btn-group-vertical {
  > .btn {
    z-index: 0;
    margin-bottom: 0 !important;

    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 0;
    }

    & .open > .dropdown-toggle {
      margin: 0;
    }
  }

  > .btn-group {
    > .btn {
      z-index: 0;
      margin-bottom: 0 !important;

      &:hover,
      &:focus,
      &:active,
      &.active {
        z-index: 0;
      }

      & .open > .dropdown-toggle {
        margin: 0;
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------
  buttons.less
------------------------------------------------------------------------------------------------------------- */

// Gradient Bar Colors for buttons and alerts (mixin)
.gradientBar(@primaryColor, @secondaryColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  color: @textColor;
  text-shadow: @textShadow;
  #gradient > .vertical(@primaryColor, @secondaryColor);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) fadein(rgba(0, 0, 0, .1), 15%);
}

// Button backgrounds (mixin)
// ------------------
.buttonBackground(@startColor, @endColor, @textColor: #fff, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  // gradientBar will set the background to a pleasing blend of these, to support IE<=9
  .gradientBar(@startColor, @endColor, @textColor, @textShadow);
  .reset-filter();

  // in these cases the gradient won't cover the background, so we override
  &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
    color: @textColor;
    background-color: @endColor;
  }

  // IE 8 can't handle box-shadow to show active, so we darken a bit ourselves
  &:active,
  &.active {
    background-color: darken(@endColor, 10%) e("\9");
  }
}

// Main
// -------------------------
.btn {
  .fueled-button-style();
  line-height: 18px;
  margin-bottom: 5px;

  &:hover,
  &:focus {
    background-position: 0 -40px;
    .transition(background-position .3s linear);
    text-shadow: 1px 1px 0 lighten(@mainColor, 10%);
  }

  &.active,
  &:active {
    .box-shadow(~"none");
    .fueled-button-style-mousedown();
    background-position: 0 -10px;
    .transition(background-position .01s linear);
  }

  &.disabled,
  &[disabled] {
    top: 0;
    .fueled-button-style();
  }

  &.btn-default {
    .buttonBackground(@mainColor, darken(@mainColor, 10%), @gray-dark, 0 1px 0 @mainColor15);
    border: 1px solid @mainColor15;
    border-bottom-color: darken(@mainColor15, 10%);
    background-color: @mainColor;

    &:hover,
    &:focus {
      color: @gray-darker;
      text-shadow: 1px 1px 0 lighten(@mainColor, 10%);
    }

    &.fueled-white {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
      &:hover,
      &:focus {
        text-shadow: 1px 1px 0 @gray !important;
      }
    }
  }

  /* fixing 3d button with http://css-tricks.com/video-screencasts/123-if-it-moves-when-you-click-make-something-stick/ */
  &.after,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    bottom: -5px;
    /*outline: 1px solid red;*/
  }

  &.active:after,
  &:active:after {
    top: -4px;
    left: -4px;
    right: -2px;
    bottom: -2px;
  }
  /* end 3d fix */
}

// Alternate buttons
// ------------------
// Provide *some* extra contrast for those who can get it
.btn-primary,
.btn-warning,
.btn-danger,
.btn-success,
.btn-info,
.btn-inverse,
.btn-nocolor {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active,
.btn-nocolor.active {
  color: rgba(255, 255, 255, .75);
}

.btn-primary:hover,
.btn-warning:hover,
.btn-danger:hover,
.btn-success:hover,
.btn-info:hover,
.btn-inverse:hover,
.btn-nocolor:hover {
  text-shadow: 1px 1px 0 @gray;
}

.btn-primary {
  .buttonBackground(@btn-primary-bg, spin(@btn-primary-bg, 15%));
  background-color: darken(@mainColor, 10%);
}

.bth-primary:hover {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 233, 0.1) inset;
}

.btn-warning {
  .buttonBackground(@btn-warning-bg, #f89406);
  background-color: #f89406;
}

.btn-danger {
  .buttonBackground(@btn-danger-bg, #bd362f);
  background-color: lighten(#bd362f, 10%);
}

.btn-success {
  .buttonBackground(@btn-success-bg, #51a351);
  background-color: lighten(#51a351, 10%);
}

.btn-info {
  .buttonBackground(@btn-info-bg, #2f96b4);
  background-color: lighten(#2f96b4, 10%);
}

.btn-inverse {
  .buttonBackground(#484848, @gray-darker);
}

.btn-nocolor {
  .buttonBackground(#ccc, #a5a5a5);
  border: 1px solid @gray-light;
  background-color: @gray-light;
}

// Link buttons
// -------------------------

.btn-link,
.btn-link:active,
.btn-link[disabled] {
  .box-shadow(none);
  text-shadow: none !important;
}

.btn-link:active {
  top: 0;
  color: @mainColor;
}

// Button Sizes
// -------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical;
@padding-large-horizontal;
@font-size-large;
@line-height-large;
@border-radius-large);
}

.btn-sm,
.btn-xs {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical;
@padding-small-horizontal;
@font-size-small;
@line-height-small;
@border-radius-small);
}

.btn-xs {
  padding: 1px 5px !important;
}

/* -------------------------------------------------------------------------------------------------------------
  carousel.less
------------------------------------------------------------------------------------------------------------- */

.carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.25);
}

.carousel-indicators {
  bottom: -16px;
  margin-bottom: 15px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.75);
  > .right {
    left: 30px;
  }
  > span[class*='icon-'] {
    line-height: 24px;
  }
}

/* -------------------------------------------------------------------------------------------------------------
  code.less
------------------------------------------------------------------------------------------------------------- */

code {
  border: 1px solid @mainColor-15;
}

/* -------------------------------------------------------------------------------------------------------------
  dropdowns.less
------------------------------------------------------------------------------------------------------------- */

.dropdown-menu > li > a {
  outline: none;
  .transition(~".1s linear");
  color: @text-color;

  &:hover,
  &:focus {
    text-decoration: none;
    .fueled-main-color-styling();
  }

  .badge {
    margin-top: 2px;
  }
}

.dropdown-menu > .active > a {
  &,
  &:hover,
  &:focus {
    outline: 0;
    .fueled-main-color-styling();
  }
}

// Nuke hover/focus effects
.dropdown-menu > .disabled > a {
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent !important;
    color: @gray-light !important;
    background-image: none; // Remove CSS gradient
    .reset-filter();
    cursor: not-allowed;
    text-shadow: none;
  }
}

.dropdown-header {
  font-family: @headings-font-family;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid @mainColor-15;
  padding-bottom: 0;
  letter-spacing: 1px;
}

/* -------------------------------------------------------------------------------------------------------------
  forms.less
------------------------------------------------------------------------------------------------------------- */

.form-control {
  //height: 40px;
}

legend {
  text-shadow: 1px 1px 0 #ccc;
}

/* -------------------------------------------------------------------------------------------------------------
  input-groups.less
------------------------------------------------------------------------------------------------------------- */

.input-group .btn {
  position: relative;
}

.input-group-btn > .btn + .btn {
  margin-left: -5px;
}

.input-group-btn + .form-control {
  margin-left: -1px;
}

.input-group-btn > .btn:first-child {
  margin-left: -1px;
}

.input-group-btn > .btn:active {
  postion: relative;
  top: 4px;
}

.input-group .open > .btn {
  &.dropdown-toggle {
    postion: relative;
    top: 4px;
    .box-shadow(~"none");
    &:not(.btn-default) {
      text-shadow: 1px 1px 0 @gray;
    }
  }
}

.input-group-btn > .dropdown-menu {
  margin-top: 0;
}

.input-group-addon {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: middle;
  }
}

.input-group-lg {
  > .input-group-addon {
    padding: 8px 16px;
  }
}

/* -------------------------------------------------------------------------------------------------------------
  labels.less
------------------------------------------------------------------------------------------------------------- */

.label {
  padding: .3em .6em .3em;
}

/* -------------------------------------------------------------------------------------------------------------
  list-groups.less
------------------------------------------------------------------------------------------------------------- */

.list-group-item {
  a& {
    color: @text-color;
    .transition(~".3s linear");
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: @list-group-hover-bg;
      .fueled-main-color-styling() !important;
      .list-group-item-heading {
        color: #fff;
      }
    }
  }
  &.active,
  &.active:hover,
  &.active:focus {
    .fueled-main-color-styling();
  }
}

/* -------------------------------------------------------------------------------------------------------------
  media.less
------------------------------------------------------------------------------------------------------------- */

.media {
  padding-bottom: 5px;
}

/* -------------------------------------------------------------------------------------------------------------
  jumbotron.less
------------------------------------------------------------------------------------------------------------- */

.jumbotron {
  font-size: 22px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  #gradient > .vertical(@mainColor, @mainColor-15);
  h1 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    font-weight: 700;
  }
  a:not(.btn) {
    color: @mainColor30;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
  .btn {
    margin-top: 10px;
  }
}

@media screen and (min-width: @screen-lg-desktop) {
  .jumbotron h1 {
    font-size: 100px;
  }
}

/* -------------------------------------------------------------------------------------------------------------
  media.less
------------------------------------------------------------------------------------------------------------- */
.media a {
  border: 1px solid @mainColor-15;
  border-radius: @border-radius-base;
  padding: 1px;
  .transition(all .2s ease-in-out);
}

.media a:hover,
.media a:focus {
  border-color: @mainColor;
  .box-shadow(0 1px 4px rgba(0,105,214,.25));
}

/* -------------------------------------------------------------------------------------------------------------
  mixins.less
------------------------------------------------------------------------------------------------------------- */

.form-control-focus(@color: @input-border-focus) {
  @rgba: rgba(red(@color), green(@color), blue(@color), .6);
  &:focus {
    border-color: @color;
    outline: 0;
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px @{rgba}");
  }
}

/* -------------------------------------------------------------------------------------------------------------
  models.less
------------------------------------------------------------------------------------------------------------- */

.modal-footer {
  border-top: 1px solid @mainColor;
}

.modal-footer .btn + .btn {
  margin-left: 3px;
  margin-bottom: 5px;
}

.modal-header {
  border-bottom: 1px solid @mainColor;
}

/* -------------------------------------------------------------------------------------------------------------
  navbar.less
------------------------------------------------------------------------------------------------------------- */

.navbar-static-top, .navbar-fixed-top {
  -webkit-box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.5);
}

// Alternate navbars
// --------------------------------------------------
.navbar-default {
  //#gradient > .vertical(@navbar-default-highlight, @navbar-default-bg); // use this in case you prefer a gradient background for Gecko
  background-color: @navbar-default-bg;

  .navbar-nav {
    > li > a {
      font-size: 16px;
      color: @navbar-default-link-color;
      .transition(~".3s linear");
      padding-top: 20px;

      &:hover,
      &:focus {
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.1) inset;
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.1) inset;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.1) inset;
      }

      .caret {
        .transition(~".3s linear");
      }
    }

    > .active > a {
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 40px rgba(232, 232, 232, 0.1) inset;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 40px rgba(232, 232, 232, 0.1) inset;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 40px rgba(232, 232, 232, 0.1) inset;

      .caret {
        border-top-color: @navbar-default-link-hover-color;
        border-bottom-color: @navbar-default-link-hover-color;
      }
    }

    .dropdown-menu {
      margin-left: -1px;
    }
  }

  .navbar-form {
    margin-top: 8px;
    margin-bottom: 7px;

    > .btn {
      margin-bottom: 2px;
    }
  }

  .navbar-text {
    margin-top: 15px;
  }
  .navbar-brand {
    margin-top: 3px;
    margin-right: 10px;
    color: @text-color;
    font-size: 26px;
    .transition(~".3s linear");
    &:hover,
    &:focus {
      color: @mainColor;
    }
  }
}

.navbar-inverse {
  .navbar-nav {
    > li > a {
      font-size: 16px;
      color: @navbar-inverse-link-color;
      .transition(~".3s linear");
      padding-top: 20px;

      &:hover,
      &:focus {
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.1) inset;
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.1) inset;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232, 232, 232, 0.1) inset;
      }

      .caret {
        .transition(~".3s linear");
      }
    }

    > .active > a {
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 40px rgba(232, 232, 232, 0.1) inset;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 40px rgba(232, 232, 232, 0.1) inset;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 40px rgba(232, 232, 232, 0.1) inset;

      .caret {
        border-top-color: @navbar-inverse-link-hover-color;
        border-bottom-color: @navbar-inverse-link-hover-color;
      }
    }
  }

  .navbar-form {
    margin-top: 8px;
    margin-bottom: 7px;

    > .btn {
      margin-bottom: 2px;
    }
  }

  .navbar-text {
    margin-top: 15px;
  }
  .navbar-brand {
    margin-top: 3px;
    margin-right: 10px;
    font-size: 26px;
  }

  .dropdown-menu {
    background: @mainColor30;
    background-color: @navbar-inverse-link-active-bg;
    > li > a {
      color: #fff;
      &:hover,
      &:focus {
        background-color: @navbar-inverse-bg !important;
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------
  navs.less
------------------------------------------------------------------------------------------------------------- */

// Navs
// -------------------------
.nav {
  > li {
    &.disabled > a {
      &:hover,
      &:focus {
        border-color: @mainColor-30;
        text-shadow: 1px 1px 0 #eee;
      }
    }
  }

  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: @body-bg;
      border-color: @mainColor-15;
    }
  }
}

// Tabs
// -------------------------

.nav-tabs {
  margin-bottom: 15px;
}

.nav-tabs > li {

  > a {
    &:hover,
    &:focus {
      .transition(~".5s linear");
      text-shadow: 1px 1px 0 #fff;
      -webkit-box-shadow: 0 0 30px @fueled-color-rgba inset;
      -moz-box-shadow: 0 0 30px @fueled-color-rgba inset;
      box-shadow: 0 0 30px @fueled-color-rgba inset;
      border: 1px solid @mainColor-15;
      .caret {
        .transition(~".5s linear");
      }
    }
  }

  &.active > a {
    color: @mainColor30 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid transparent;
    .caret {
      border-top-color: @mainColor30 !important;
      border-bottom-color: @mainColor30 !important;
    }
  }
}

/* custom inclusion of right, left and below tabs taken from 2.3.2 */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid @mainColor-15;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 @border-radius-base @border-radius-base;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: @mainColor-15;
  /*border-bottom-color: transparent;*/
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent @mainColor-15 @mainColor-15 @mainColor-15;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid @mainColor-15;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  border-radius: @border-radius-base 0 0 @border-radius-base;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: @mainColor-15;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: @mainColor-15 transparent @mainColor-15 @mainColor-15;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid @mainColor-15;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  border-radius: 0 @border-radius-base @border-radius-base 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: @mainColor-15;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: @mainColor-15 @mainColor-15 @mainColor-15 transparent;
  *border-left-color: #ffffff;
}

// Pills
// -------------------------

.nav-pills {
  > li {
    > a {
      border: 1px solid transparent;
      &:hover,
      &:focus {
        border-color: @mainColor;
        .transition(~".2s ease-in");
        text-shadow: 1px 1px 0 #fff;
        .fueled-main-color-styling();

        .caret {
          border-top-color: #fff !important;
          border-bottom-color: #fff !important;
        }
      }
    }

    &.open .dropdown-toggle {
      .fueled-main-color-styling();
      border: 1px solid @mainColor;
    }

    &.active > a {
      border: 1px solid @mainColor;
      .fueled-main-color-styling();
      &:hover,
      &:focus {
        text-shadow: none;
      }
      > .badge {
        text-shadow: none;
      }
    }
  }
  // fix for FF: https://github.com/twbs/bootstrap/issues/10516
  .dropdown-menu {
    left: auto;
  }
}

.nav-stacked {
  > li {
    a .badge {
      margin-top: 3px;
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------
  pager.less
------------------------------------------------------------------------------------------------------------- */

.pager {
  li {
    > a {
      .transition(~".3s linear");
      color: @text-color;
    }
    > a:hover,
    > a:focus {
      .fueled-main-color-styling();
    }
  }
  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      text-shadow: none !important;
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------
  panels.less
------------------------------------------------------------------------------------------------------------- */
.panel {
  .box-shadow(0 1px 10px rgba(0, 0, 0, 0.15));
}

.panel-heading {
  .box-shadow(~"0 1px 2px rgba(0, 0, 0, 0.1), 0 0 30px rgba(232,232,232, 0.5) inset");
  font-family: @headings-font-family;
  font-size: 18px;
  letter-spacing: 1px;
}

/* -------------------------------------------------------------------------------------------------------------
  pagination.less
------------------------------------------------------------------------------------------------------------- */

.pagination {
  margin-top: 10px;
  > li > a,
  > li > span {
    color: @text-color;
    &:hover,
    &:focus {
      .transition(~".2s linear");
      .fueled-main-color-styling();
    }
  }
  > .active > a,
  > .active > span {
    .fueled-main-color-styling();
  }
  > .disabled {
    > span,
    > a,
    > a:hover,
    > a:focus {
      text-shadow: none !important;
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------
  popovers.less
------------------------------------------------------------------------------------------------------------- */

.popover {
  border: 1px solid @mainColor;
}

.popover-title {
  .fueled-main-color-styling();
}

/* -------------------------------------------------------------------------------------------------------------
  progress-bars.less
------------------------------------------------------------------------------------------------------------- */

.progress {
  height: 12px;
}

/* -------------------------------------------------------------------------------------------------------------
  tables.less
------------------------------------------------------------------------------------------------------------- */

.table {
  background-color: #fff;
  td {
    .no-shadow {
      text-shadow: none;
    }
  }
}

.table-striped {
  > tbody {
    > tr:nth-child(odd) {
      > td,
      > th {
        .fueled-main-color-styling();
      }
    }
  }
}

.table-hover {
  > tbody {
    > tr:hover {
      > td,
      > th {
        .fueled-main-color-styling();
      }
    }
  }
}

.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  > td.active,
  > th.active,
  &.active > td,
  &.active > th {
    .fueled-main-color-styling();
  }
}

/* -------------------------------------------------------------------------------------------------------------
  type.less
------------------------------------------------------------------------------------------------------------- */

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: @mainColor;
}

h1 {
  font-size: @font-size-base * 2.75;
}

// ~44px
h2 {
  font-size: @font-size-base * 2.25;
}

// ~36px
h3 {
  font-size: @font-size-base * 1.75;
}

// ~28px
h4 {
  font-size: @font-size-base * 1.38;
}

// ~22px
h5 {
  font-size: @font-size-base * 1.10;
}

// ~18px
h6 {
  font-size: @font-size-base;
}

// ~16px (base size)

h1 small, .h1 small {
  font-size: @font-size-base * 1.75;
}

// ~28px
h2 small, .h2 small {
  font-size: @font-size-base * 1.25;
}

// ~22px
h3 small, .h3 small {
  font-size: @font-size-base;
}

h4 small, .h4 small {
  font-size: @font-size-base;
}

h3 small, .h3 small,
h4 small, .h4 small {
  font-size: @font-size-base;
}

// Page header
// -------------------------

.page-header {
  border-bottom: 1px solid #fff;
  -webkit-box-shadow: 0px 1px 0 #ddd;
  -moz-box-shadow: 0px 1px 0 #ddd;
  box-shadow: 0px 1px 0 #ddd;
  margin-top: 20px;
}

// Blockquotes
// -------------------------

blockquote {
  padding: 0 0 0 45px;
  border-left: none;

  small {
    font-style: italic;
  }

  p {
    margin-bottom: 0;
  }

  &.pull-right {
    border-right: none;
  }
}

// Fueled quotes
q:before, blockquote:before {
  font-family: Georgia, serif;
  display: block;
  content: "\201C";
  font-size: 80px;
  line-height: 24px;
  color: @mainColor;
  position: relative;
  top: 44px;
  right: 40px;
}

// Lists
// -------------------------

ul {
  &.fueled {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      padding-left: 1em;
      text-indent: -.7em;
    }

    > li:before {
      content: "\00BB \0020";
      color: @mainColor;
    }

    > li ul {
      list-style: none;
      margin: 0;
    }

    > li > ul li:before {
      content: "\2023 \0020";
      color: @mainColor;
    }
  }
}

// Type
// ------------------------
@page-header-border-color: @gray-lighter;

// Miscellaneous
// -------------------------

hr {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

// Blockquotes
blockquote {
  &.pull-right {
    padding-right: 0;
  }
}

a:not(.btn) {
  .transition(.1s linear);
}

a:not(.btn):hover {
  color: @mainColor30;
  text-decoration: none;
}

/* -------------------------------------------------------------------------------------------------------------
  thumbnails.less
------------------------------------------------------------------------------------------------------------- */

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: @mainColor;
  .box-shadow(0 1px 4px rgba(0,105,214,.25));
}

/* -------------------------------------------------------------------------------------------------------------
  wells.less
------------------------------------------------------------------------------------------------------------- */

// Base class
// -------------------------

.well, .fueled-well-maincolor {
  min-height: 20px;
  padding: 19px 19px 18px;
  margin-bottom: 20px;
  background-color: @well-bg;
  border: 1px solid darken(@well-bg, 7%);
  border-radius: @border-radius-base;
  .box-shadow(inset 0 3px 6px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15);
  }
}

.fueled-well-maincolor {
  > p,
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    color: #fff;
  }
  background-color: @mainColor;
  .fueled-main-color-styling();
  border: 1px solid @mainColor;

  a {
    &:hover {
      color: #fff;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    }
  }
}

/* -------------------------------------------------------------------------------------------------------------
  ADDED
------------------------------------------------------------------------------------------------------------- */

// Date-time picker
// -------------------------
.bootstrap-datetimepicker-widget {
  &:before {
    border-bottom: 7px solid transparent;
    border-bottom-color: transparent;
  }
  td {
    &.day:hover,
    &.hour:hover,
    &.minute:hover,
    &.second:hover {
      .fueled-main-color-styling();
      cursor: pointer;
    }
    &.old,
    &.new {
      color: @mainColor;
    }
    span {
      &:hover {
        .fueled-main-color-styling();
      }
      &.old {
        color: @mainColor;
      }
      &.timepicker-hour,
      &.timepicker-minute,
      &.timepicker-second {
        margin: 0 !important;
      }
    }
    &.separator {
      padding: 0;
    }
  }
  th {
    &:hover {
      .fueled-main-color-styling();
    }
  }
  thead tr:first-child th {
    cursor: pointer;

    &:hover {
      background: @mainColor;
    }
  }
  > .timepicker {
    td {
      padding: 0;
    }
  }
}

// Date range picker
// -------------------------
.daterangepicker .ranges label {
  color: @text-color;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  .fueled-main-color-styling();
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  .fueled-main-color-styling();
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  .fueled-main-color-styling();
}

.daterangepicker td.in-range {
  background: @mainColor-15;
}

.daterangepicker.opensleft:before,
.daterangepicker.opensright:before {
  border: 7px solid transparent;
  border-bottom-color: transparent;
}

.daterangepicker .ranges label {
  color: @text-color;
}

.daterangepicker .ranges li {
  background: @mainColor-15;
  border: 1px solid @mainColor;
  color: @text-color;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  .fueled-main-color-styling();
  border: 1px solid @mainColor;
}

#reportrange {
  border: 1px solid @mainColor;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: @border-radius-base;
}

// Color picker
// -------------------------
.input-group,
.input-group {
  &.color {
    .input-group-addon {
      padding: 4px;
      i {
        position: relative;
        display: block;
        cursor: pointer;
        border-radius: @border-radius-small;
        width: 26px;
        height: 26px;
      }
    }
  }
}

// Rowlinks
// -------------------------
.table tbody tr.rowlink td {
  .transition(.3s linear);
  cursor: pointer;
  > a {
    color: @mainColor15;
  }
}

tr.rowlink td.nolink {
  cursor: auto;
}

.table tbody tr.rowlink:hover td {
  background-color: @mainColor-15;
  color: @text-color;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 30px rgba(0, 0, 0, 0.075);
  a {
    color: @text-color;
  }
  a:hover,
  a:focus {
    color: @mainColor30;
  }
}

// File upload
// -------------------------
.input-group-btn > .btn-file {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.fileupload-remove {
  margin-left: 3px;
}

// Tree
// -------------------------
@treeBackgroundHover: @mainColor;
@treeBackgroundSelect: @mainColor-15;

// Google maps
#map-canvas {
  border: 5px solid @mainColor;
  border-radius: @border-radius-base;
  width: 100%;
  height: 300px;
  margin: 0;
}

// Generic
// -------------------------
.centering {
  float: none;
  margin: 0 auto
}

a, button {
  outline: none !important;
}

// Media queries for the navbar
// -------------------------
@media (min-width: 768px) {
  .container > .navbar-header, .container>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 768px) {
  .navbar>.container .navbar-brand {
    margin-left: 0;
  }
}