.pillbox {

  padding: 3px;

  ul {
    display: inline-block;
    margin: 0;
  }

  li {

    // Begin Bootstrap .label
    font-size: @font-size-base * .846;
    font-weight: bold;
    line-height: 24px;
    color: #fff;
    vertical-align: baseline;
    //white-space: nowrap; //removed
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: @gray-light;
    padding: 1px 4px 2px 7px;
    border-radius: 3px;
    // End Bootstrap .label

    display: inline-block;
    margin: 2px;
    cursor: pointer;
    float: left;

    &:after {

      // Begin Bootstrap .close
      float: right;
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
      color: #000;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
      .opacity(20);
      // End Bootstrap .close
      padding-left: 4px;
      position: relative;
      content: " \00D7"
    }

    &:hover {
      &:after {
        .opacity(40);
      }
    }

    &.status {
      &-important {
        background-color: @alert-danger-text;
      }

      &-warning {
        background-color: @alert-warning-text;
      }

      &-success {
        background-color: @alert-success-text;
      }

      &-info {
        background-color: @alert-info-text;
      }
    }

  }

}