.radio-custom {
  input[type=radio] {
    display: none;
  }

  i {
    background-image: url(../../added/fuel-ux/img/form.png);
    background-position: 0 -15px;
    background-repeat: no-repeat;
    margin-left: -20px;
    margin-right: 4px;
    padding-left: 16px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;

    &.checked {
      /* checked */
      background-position: -48px -15px;
    }

    &.disabled {
      /* disabled */
      background-position: -64px -15px;

      &.checked {
        /* disabled and checked */
        background-position: -80px -15px;
      }
    }
  }
}

.radio-custom:hover {
  i {
    background-position: -16px -15px;

    &.checked {
      /* checked */
      background-position: -32px -15px;
    }

    &.disabled {
      /* disabled */
      background-position: -64px -15px;

      &.checked {
        /* disabled and checked */
        background-position: -80px -15px;
      }
    }
  }
}