.select {
  .dropdown-label {
    padding: 0 10px 0 0;
    margin: 0;
    display: inline-block;
    text-align: left;
    font-weight: normal;
    color: #333;
  }
  .dropdown-menu {
    margin-top: 3px;
  }
}

#selectTextSize {
  display: inline-block;
  position: absolute;
  visibility: hidden;
  top: 0;
}