.spinner {

  input {
    width: 80px;
    float: left;
  }

  .btn {
    position: relative;
    width: 20px;
    height: 16px;
    padding-top: 0;
    padding-right: 9px;
    padding-left: 9px;

    &.disabled {
      cursor: not-allowed;
    }
  }

  .spinner-buttons {
    position: relative;
    top: 1px;
    float: left;
    height: 30px;
    width: 20px;
    left: -22px;
    i {
      font-size: 10px;
    }
  }

  .spinner-up {

    padding: 0 0 4px 1px;
    height: 15px;

    i {
      position: relative;
      top: -5px;
    }
  }

  .spinner-down {

    padding: 0 0 4px 1px;
    height: 15px;

    i {
      position: relative;
      top: -5px;
      left: -1px;
    }
  }
}