.thumbnail {
    position: relative;
    overflow: hidden;
}

.caption {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(66, 139, 202, 0.91);
    width: 100%;
    height: 80px;
    padding: 3px;
    display: none;
    text-align: center;
    color: #fff !important;
    z-index: 2;
}

.widget .panel-body {
    padding: 0px 0px 20px 0px;
}

.widget .list-group {
    margin-bottom: 0;
}

.widget .panel-title {
    display: inline
}

.widget .label-info {
    float: right;
}

.widget li.list-group-item {
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.widget li.list-group-item:hover {
    background-color: rgba(86, 61, 124, .1);
}

.widget .mic-info {
    color: #666666;
    font-size: 11px;
}

.widget .action {
    margin-top: 5px;
}

.widget .comment-text {
    font-size: 12px;
}

.widget .btn-block {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#content {
    margin-top: 76px;
}

.centered {
    text-align: center;
}

.righted {
    float: right;
}

.inlined { display: inline; }

.footer-pagragraph {
    line-height: 32px;
    margin-bottom: 0;
}

.search-button {
    text-align: center;
    padding-top: 10px ;
}

.top-padding-10 {
    padding-top: 10px !important;
}

.bottom-padding-10 {
    padding-bottom: 10px !important;
}

.photo-thumb-album {
    height: 180px;
    width: 100%;
    display: block;
}

.image-full-size {
    max-width: 100%;
    display: block;
}

.album-head {
    font-size:1.5em;
    border:0px !important;
    border-radius:0px !important;
}

.bottom-margin-10 {
    margin-bottom:10px;
}