.pricing-table .plan {
  @media (max-width: 767px) {
    display: inline-block;
  }
  border-radius: 5px;
  text-align: center;
  background-color: @mainColor;
  -moz-box-shadow: 0 0 6px 2px @mainColor-30;
  -webkit-box-shadow: 0 0 6px 2px @mainColor-30;
  box-shadow: 0 0 6px 2px @mainColor-30;
  border: 1px solid @mainColor-15;
  .transition(.9s ease-in);
  margin-bottom: 10px;
}

.plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px @mainColor-15;
  -webkit-box-shadow: 0 0 12px 3px @mainColor-15;
  box-shadow: 0 0 12px 3px @mainColor-15;
  #gradient > .vertical(@mainColor-15, #fff);
  border: 1px solid @mainColor;
  .transition(.3s ease-in);
}

.plan {
  padding: 20px;
  background-color: #5e5f59;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  .transition(background 3s linear);
}

.plan h2 {
  color: @mainColor30;
  text-shadow: 1px 1px 0 @mainColor-15;
}

.plan h3 {
  /*.fueled-main-color-styling();*/
  color: @mainColor30;
  text-shadow: 1px 1px 0 @mainColor-15;
  background-color: transparent;
}

.plan-heading {
  padding: 20px;
  color: #fff;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.plan-name-silver {
  padding: 20px;
  color: #fff;
  background-color: @mainColor;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.plan-name-gold {
  padding: 20px;
  color: #fff;
  background-color: @mainColor;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.pricing-table-bronze {
  padding: 20px;
  color: #fff;
  background-color: #f89406;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.pricing-table .plan .plan-name span {
  font-size: 20px;
}

.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.pricing-table .plan ul li.plan-feature {
  padding: 15px 10px;
  border-top: 1px solid @mainColor-15;
  color: @text-color;
  text-shadow: 1px 1px 0 @mainColor-15;
}

.pricing-variable-height .plan {
  float: none;
  margin-left: 2%;
  vertical-align: bottom;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}

.btn-plan-select {
  padding: 8px 25px;
  font-size: 18px;
}

.featured {
  margin-top: -10px;
  #gradient > .vertical(@mainColor-15, #fff);
}